/Polymer Project/Archive/smiles_mod.txt
/Polymer Project/functional_group_check.csv
/Polymer Project/smiles_mod.txt
/Project1/
/Project3/
/.idea/
/Test.py
/Polymer Project/Archive/dic_csv.csv
/Polymer Project/Archive/dic_check_().csv
/Polymer Project/polymer_project_dataset_Ver4.0(basic).csv
/Polymer Project/polymer_project_dataset_Ver4.0(compound).csv
/Polymer Project/polymer_project_dataset_Ver4.0_deduplicate(basic).csv
/Polymer Project/polymer_project_dataset_Ver4.0_deduplicate(compound).csv
/Polymer Project/test.py
/Polymer Project/polymer_project_dataset_Ver5.0.csv
/Polymer Project/polymer_project_dataset_(deduplicate)_Ver5.0.csv

